{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Marque</th>
                <th>Price</th>
                <th>Imagename</th>
                <th>Issoldout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.marque }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.imageName }}</td>
                <td>{% if article.isSoldOut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
